name: build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Alire
      run: |
        mkdir -p /opt/alire
        wget -O /tmp/alire.zip https://github.com/alire-project/alire/releases/download/v2.1.0/alr-2.1.0-bin-x86_64-linux.zip
        unzip /tmp/alire.zip -d /opt/alire
        echo "/opt/alire/bin" >> $GITHUB_PATH

    - name: Install Ada
      run: |
        alr config --global --set interactive.disabled true
        alr toolchain

    - name: Check out code
      uses: actions/checkout@v4

    - name: Build
      run: |
        make build-all

    - name: Build examples
      run: |
        cd examples/cli && make build

    - name: Build integration tests
      run: |
        cd integration-tests && make build
